<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Pemain</h3>
    <a href="#" routerLink="/pemain/create" class="btn btn-success btn-sm">Tambah Pemain</a>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>

          <th>Id</th>
          <th>Nama</th>
          <th>Nomor Punggung</th>
          <th>Posisi</th>
          <th>Pertandingan</th>
          <th>Gol</th>
          <th width="200px">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pemain of pemains">
          <td>{{ pemain.id }}</td>
          <td>{{ pemain.nama }}</td>
          <td>{{ pemain.nomorPunggung }}</td>
          <td>{{ pemain.posisi?.namaPosisi }}</td>
          <td>{{ pemain.pertandingan }}</td>
          <td>{{ pemain.gol }}</td>
          <td class="d-flex gap-1">
            <a href="#" [routerLink]="['/pemain', pemain.id, 'detail']" class="btn btn-info btn-sm">
              <i class="fas fa-info-circle"></i>
            
            </a>
            <a href="#" [routerLink]="['/pemain', pemain.id, 'edit']" class="btn btn-primary btn-sm">
              <i class="fas fa-edit"></i>
              
            </a>
            <button type="button" (click)="deletePemain(pemain.id)" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
            
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
